#jumbo img {
  padding-bottom: 1em;
}

.row.border {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.languages img {
  /*filter: url(/img/grayFilter.svg#grayscale);
  filter: gray;*/
  width: 64px;
  height: 64px;
}
/*.languages img:hover {
  filter: none;
}*/

.buttonList a {
  margin-right: 0.5em;
}
.buttonList a:last-child {
  margin-right: 0;
}

.project .image {
  margin-right: 1em;
}

/* buttons */
.project .links a {
  margin-right: 0.5em;
}
.project .links a:last-child {
  margin-right: 0;
}

/* icon */
.project .links i {
  margin-right: 0.5em;
}

.project .technologies {
  margin-top: 16px;
  font-size: small;
}

footer {
  margin-top: 20px;
  font-size: small;
}
