#jumbo img {
  padding-bottom: 1em;
}

.row.border {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.aroundTheWeb a {
  margin-right: 0.5em;
}
.aroundTheWeb a:last-child {
  margin-right: 0;
}

.project .image {
  margin-right: 1em;
}

/* buttons */
.project .links a {
  margin-right: 0.5em;
}
.project .links a:last-child {
  margin-right: 0;
}

/* icon */
.project .links i {
  margin-right: 0.5em;
}

footer {
  margin-top: 20px;
}
