@import "tailwindcss";

@layer base {
    html {
        @apply h-full bg-gray-100;
    }
    #__next, body {
        @apply h-full;
    }


    /* basic setup that people expect a website to look like */
    a {
        @apply text-blue-500;
    }
    /* a:visited {
        @apply text-purple-800;
    } */
    h1 {
        @apply text-5xl;
    }
    h2 {
        @apply text-3xl my-2 border-gray-400 border-b-2;
    }
    h3 {
        @apply text-2xl my-2;
    }
    h4 {
        @apply text-xl my-2;
    }
    h5 {
        @apply text-lg my-2;
    }
    h6 {
        @apply text-sm my-2;
    }
    ol {
        @apply list-inside list-decimal;
    }
    ul {
        @apply list-inside list-disc;
    }
    code {
        @apply whitespace-nowrap;
    }
    hr {
        /* border-t already applied by default */
        @apply border-gray-400;
    }


    /* external links */
    /* [rel=external] {
        background: url(/img/external-ltr.png) center right no-repeat;
        padding-right: 15px;
    } */


    #breadcrumbs li {
        @apply inline align-baseline;
    }
    #breadcrumbs li+li::before {
        @apply px-2 text-black;
        content: "/";
    }


    p {
        @apply mb-2;
    }


    dd {
        /* definition list */
    }
    dt {
        /* definition list term */
        @apply font-bold;
    }
    dd {
        /* definition list definition */
        @apply pl-8;
    }
}
